<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/CSS/show.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHOW</title>
</head>
<body>
  <h1>My peronal devotional and diary</h1>
  <ul>  
    <li><a href="/devo">devotional</a></li>
    <li><a href="/diary">diary</a></li>
    <li><a href="/">main</a></li>
  </ul>

  <div>
      <h3><%= devo.Date %> </h3>
      <h3><%= devo.name %> </h3>
      <h3><%= devo.BibleVerse %> </h3>
      <h3><%= devo.Note %> </h3>
      <h3><%= devo.Application %> </h3>
    
      <a href="/devo/<%= devo._id %>/edit">Edit Devo</a>
      <form action="/devo/<%= devo._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Devo" />
      </form>

  </ul>
  </div>
</body>
</html>