<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/devo/show.css">
  <link rel="stylesheet" href="/CSS/show.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHOW</title>
</head>
<body>
  <body>
    <header>
    <nav class="nav">
      <ul id="horizontal-list"  style="list-style: none;">
        <li><a href="/devo">Devotional</a></li>
        <li><a href="/diary">Diary</a></li>
      </ul>
    </nav>
    <h1>My Daily Devotional</h1>
  </header>
  </body>

  <div>
      <h2>Date</h2>
      <h3><%= devo.Date %> </h3>
      <h2>Name</h2>
      <h3><%= devo.name %> </h3>
      <h2>Bible Verse</h2>
      <h3><%= devo.BibleVerse %> </h3>
      <h2>Note</h2>
      <h3><%= devo.Note %> </h3>
      <h2>Application</h2>
      <h3><%= devo.Application %> </h3>
    
      <a class="button-1" href="/devo/<%= devo._id %>/edit">Edit Devo</a>
      <form action="/devo/<%= devo._id %>?_method=DELETE" method="POST">
        <input class="button-1" type="submit" value="Delete Devo" />
      </form>

  </ul>
  </div>
</body>
</html>